<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forgot Password - PayrollPro</title>
    <link rel="stylesheet" href="/css/auth/login/styles.css" />
  </head>
  <body>
    <div class="login-container">
      <img src="/images/brand.png" alt="PayrollPro Logo" class="logo" />
      <h1>Forgot password?</h1>
      <h2>We will send password reset link on specified email</h2>
      <div class="login-box">
        <% if (error) { %>
        <div class="error-message">
          <p><%= error %></p>
        </div>
        <br />
        <% } %> <% if (success) {%>
        <div class="success-message">
          <p><%= success %></p>
        </div>
        <br />
        <% } %>
        <form method="POST" action="<% baseUrl %>/forgot-password">
          <label for="email">Email</label>
          <input type="email" id="email" name="email" />

          <button type="submit">Request reset</button>

          <div class="login-links">
            <a href="<%baseUrl%>/login">Back to login</a>
          </div>
        </form>
      </div>
    </div>

    <script nonce="<%= nonce %>">
      document.addEventListener("DOMContentLoaded", () => {
        const form = document.querySelector("form");
        form.addEventListener("submit", (event) => {
          const email = document.getElementById("email").value.trim();
          const password = document.getElementById("password").value;

          const passwordRegex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[\W_]).+$/;

          if (
            !email ||
            email.length > 254 ||
            !/^[^\s@]+@[^\s@]+\.[^\s@]+$/.test(email)
          ) {
            alert("Email is required and must be valid.");
            event.preventDefault();
          }
        });
      });
    </script>
  </body>
</html>
