<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up - PayrollPro</title>
    <link rel="stylesheet" href="/css/auth/signup/styles.css" />
  </head>
  <body>
    <div class="login-container">
      <img src="/images/brand.png" alt="PayrollPro Logo" class="logo" />
      <h1>Create an Account</h1>
      <div class="login-box">
        <div class="error-message">
          <% if (error) { %>
            <p><%= error %></p>
          <% } %>
        </div>
        <form method="post" action="<% baseUrl %>/signup">
          <label for="name">Name</label>
          <input type="text" id="name" name="name" required />
          <label for="last_name">Last Name</label>
          <input type="text" id="last_name" name="last_name" required />
          <label for="email">Email</label>
          <input type="email" id="email" name="email" required />
          <label for="password">Password</label>
          <input type="password" id="password" name="password" required />

          <label for="confirm_password">Confirm Password</label>
          <input
            type="password"
            id="confirm_password"
            name="confirm_password"
            required
          />

          <label for="account_type">Account Type</label>
          <select id="account_type" name="account_type">
            <option value="employee">Employee</option>
            <option value="manager">Manager</option>
          </select>

          <button type="submit">Sign Up</button>

          <div class="login-links">
            <a href="<% baseUrl %>/login">Already have an account? Login</a>
          </div>
        </form>
      </div>
    </div>

    <script nonce="<%= nonce %>">
      document.addEventListener("DOMContentLoaded", () => {
        const form = document.querySelector("form");
        form.addEventListener("submit", (event) => {
          const name = document.getElementById("name").value.trim();
          const lastName = document.getElementById("last_name").value.trim();
          const email = document.getElementById("email").value.trim();
          const password = document.getElementById("password").value;
          const confirmPassword =
            document.getElementById("confirm_password").value;

          if (name.length < 2) {
            alert("Name must be at least 2 characters long.");
            event.preventDefault();
          }
          if (lastName.length < 2) {
            alert("Last Name must be at least 2 characters long.");
            event.preventDefault();
          }

          if (password !== confirmPassword) {
            alert("Passwords do not match.");
            event.preventDefault();
          }
          if (password.length < 15 || password.length > 254) {
            alert("Password must be between 15 and 254 characters long.");
            event.preventDefault();
          }
        });
      });
    </script>
  </body>
</html>
