<section class="content">
    <section class="cards-header">
      <h1>Welcome to PayrollPro</h1>
    </section>
    <section class="no-data">
      <div class="no-company-id-message">
        <h2>Company ID not provided</h2>
        <p>Please select a company to view the dashboard details.</p>
      </div>
    </section>
  </section>

<!--TODO: add link to create company-->