<section class="content">
    <section class="cards-header">
      <h1>Welcome to PayrollPro</h1>
    </section>
    <section class="no-data">
      <div class="no-company-id-message">
        <h2>You haven't created a company yet.</h2>
        <p>Please create one: <a href="/manager/company/create" class="create-company">Create Company</a></p>
      </div>
    </section>
  </section>

