<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/employee/main/styles.css" />
    <link rel="stylesheet" href="/css/common/header.css" />
    <link rel="stylesheet" href="/css/common/footer.css" />
    <title>Employee Dashboard</title>
  </head>
  <body>
    <!-- <header class="header">
      <img
        src="/images/brand.png"
        alt="PayrollPro Logo"
        class="logo"
      />
      <nav>
        <a href="">Home</a>
        <a href="">Features</a>
        <a href="">About</a>
        <a href="<% baseUrl %>/employee/settings">Settings</a>
        <a href="http://localhost:5500/lib/templates/login/html/login.html"
          >Logout</a
        >
      </nav>
    </header> -->
    <%- include("../includes/header", {baseUrl, loggedUser}) %>
    <main>
      <secion class="menu">
        <div class="menu-item">
          <img src="/images/user.png" alt="user_icon" class="user-icon" />
          <p>Employee Dashboard</p>
        </div>
        <div class="menu-item">
          <img src="/images/user.png" alt="user_icon" class="user-icon" />
          <p>Employee Dashboard</p>
        </div>
        <div class="menu-item">
          <img src="/images/user.png" alt="user_icon" class="user-icon" />
          <p>Employee Dashboard</p>
        </div>
        <div class="menu-item">
          <img src="/images/user.png" alt="user_icon" class="user-icon" />
          <p>Employee Dashboard</p>
        </div>
      </secion>
      <section class="content">
        <section class="info">
          <div>
            <div class="box big">
              <h2>Personal info</h2>
              <p>Name: Błażej Pajor</p>
              <p>EmployeeId: 1007</p>
              <p>Email: blazej122@vp.pl</p>
              <p>Company name: WP Engine</p>
            </div>
            <div class="box big chart">
              <canvas id="earnings-chart"></canvas>
            </div>
          </div>
          <div>
            <div class="box small">
              <h2>Leave balances</h2>
              <p>Annual leave: 20 days</p>
              <p>Sick leave: 10 days</p>
              <p>Casual leave: 5 days</p>
            </div>
          </div>
        </section>
        <section class="attend-notify">
          <p>You have an unmarked attendance for today!</p>
          <a class="mark-button" href="">
            <img src="/images/calendar.png" alt="gowno" id="calendar-icon-2"/>
            <span class="mark">Mark it here!</span>
          </a>
        </section>
      </section>
    </main>
    <footer>
      <p>© 2024 PayrollPro. All rights reserved.</p>
    </footer>
  </body>

  <script src="https://cdn.jsdelivr.net/npm/chart.js" nonce="<%= nonce %>"></script>
  <script nonce="<%= nonce %>">
    const ctx = document.getElementById("earnings-chart").getContext("2d");

    const earningsChart = new Chart(ctx, {
      type: "bar",
      data: {
        labels: [
          "January",
          "February",
          "March",
          "April",
          "May",
          "June",
          "July",
          "August",
          "September",
          "October",
          "November",
          "December",
        ],
        datasets: [
          {
            label: "Your Earnings",
            data: [
              1200, 1500, 1000, 2000, 1700, 2500, 1900, 1200, 1500, 1000, 2000,
              1700, 2500, 1900,
            ],
            backgroundColor: "#F1DBDB",
            borderColor: "rgba(75, 192, 192, 1)",
            color: "#fff",
            borderWidth: 1,
          },
        ],
      },
      options: {
        scales: {
          y: {
            beginAtZero: true,
            ticks: {
              color: "#fff",
            },
          },
          x: {
            ticks: {
              color: "#fff",
            },
          },
        },
        plugins: {
          legend: {
            labels: {
              color: "#FFFFFF",
            },
          },
        },
      },
    });
  </script>
</html>

<!-- TODO add left nav style -->