@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

body {
  font-family: "Roboto", sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  flex-direction: row;
}

.content {
  width: 75%;
}

.content-header {
  margin-left: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.header-left h1 {
  margin: 0;
  font-size: 2.5rem;
}

.header-right {
  display: flex;
  align-items: center;
}

.header-right label {
  margin-right: 10px;
}

.header-right select {
  margin-right: 20px;
  padding: 5px;
}

.export-btn {
  background-color: #27ae60;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  width: 40%;
  height: 48px;
}

.export-btn:hover {
  background-color: #2ecc71;
}

.cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  position: relative;
}

.card-header {
  font-size: 1.8em;
  margin-bottom: 20px;
  color: #333;
  text-align: center;
  border-bottom: 2px solid #ddd;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-header p {
  margin: 0;
}

.edit-button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.edit-button:hover {
  background-color: #0056b3;
}

.card-content {
  display: flex;
  flex-direction: column;
}

.card-content div {
  margin-bottom: 15px;
}

.card-content label {
  font-weight: bold;
  margin-right: 10px;
  color: #555;
}

.card-content span {
  color: #333;
}

.card-content input {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 5px;
  width: calc(100% - 20px);
}

.save-button {
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  display: none;
  margin-top: 10px;
}

.save-button:hover {
  background-color: #218838;
}

/* Basic styling for the no-company message */
.no-company-message {
  padding: 20px;
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
  border-radius: 5px;
  margin: 20px 0;
}
.no-company-message a {
  color: #721c24;
  text-decoration: underline;
}

/* Style for the "Card data is not available" message */
.no-data-message {
  display: none; /* Hidden by default */
  padding: 20px;
  background-color: #ffeeba;
  color: #856404;
  border: 1px solid #ffeeba;
  border-radius: 5px;
  margin: 10px 0;
}

.no-display {
  display: none;
}

/* Responsywność */
@media screen and (max-width: 900px) {
  main {
    flex-direction: column;
  }

  .content {
    width: 100%;
  }
}
