<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/error/styles.css" />
    <link rel="stylesheet" href="/css/common/header.css" />
    <link rel="stylesheet" href="/css/common/footer.css" />
    <title>Error <%= code %></title>
  </head>
  <body>
    <%- include("../includes/header", { baseUrl, loggedUser, accountType }) %>
    <main class="error-page">
      <section class="error-content">

        <div class="error-details">
          <h1>Error <%= code %></h1>
          <p><%= message %></p>
          <a href="/" class="error-home-button">Return to Home</a>
        </div>
      </section>
    </main>

    <footer>
      <p>© 2024 PayrollPro. All rights reserved.</p>
    </footer>
  </body>
</html>
