@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.header {
  background-color: #0a8080;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a, .logout-btn {
  color: white;
  text-decoration: none;
  padding: 10px;
  font-family: "Roboto", sans-serif;
}

.logout-btn {
  background: none;
  border: none;
  font-size: 16px; /* Dopasuj rozmiar do pozostałych linków */
  cursor: pointer;
}

nav {
  display: flex;;
}

.logo {
  width: 86px;
}
